extends layout

block content
    div.container
        header
            h1 Newsletter Web App
        section
            div.contenedorinfo
                div.info
                    h1 Prueba
                    span &nbsp;
                div.info
                    p Terminó la joda
                    div.info
                        p #{message1}
                    div.info
                        p #{message2}
                    div.info
                        p #{message3}

